@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1569137309868'); /* IE9 */
  src: url('iconfont.ttf?t=1569137309868') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e675";
}

.icon-shop:before {
  content: "\e676";
}

.icon-list:before {
  content: "\e682";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-selection:before {
  content: "\e6ce";
}

.icon-jifenshangcheng:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-guanbi:before {
  content: "\e626";
}

.icon-shenfenzheng:before {
  content: "\e625";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-guanyanren:before {
  content: "\e63f";
}

.icon-zhuanchu:before {
  content: "\e642";
}

.icon-zhuanru:before {
  content: "\e643";
}

.icon-cainixihuan:before {
  content: "\e652";
}

.icon-icon_jifen:before {
  content: "\e60d";
}

.icon-yuanbao:before {
  content: "\e602";
}

.icon-jifen:before {
  content: "\e601";
}
