@import "~taro-ui/dist/style/components/icon.scss";

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .swiper {
    height: 500px;
    text-align: center;
    .title {
      color: #333;
      font-size: 28px;
      margin: 10px 20px;
    }
    .price {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      font-size: 22px;
      color: #999;
    }
  }
  .good {
    height: 200px;
    display: flex;
    padding: 0 10px;
    .left {
      width: 600px;
      flex-shrink: 0;
      padding: 5px 10px;
      .title {
        font-size: 32px;
        margin: 10px 0;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }
      .price {
        font-size: 24px;
        color: #333;
        .newprice {
          font-size: 46px;
          color: red;
          margin-top: 20px;
        }
        .oldprice {
          text-decoration: line-through;
          color: #999;
          margin: 0 10px;
          font-size: 22px;
        }
      }
    }
  }
  .good-detail {
    margin-top: 20px;
    padding: 20px 20px 0;
    box-shadow: inset 0px 12px 6px -6px rgb(241, 240, 240);
    &-info {
      font-size: 26px;
      color: #333;
      margin-top: 10px;
    }
    .tip {
      font-size: 26px;
      color: #999;
      margin-top: 20px;
    }
  }
  .bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    align-items: center;
    display: flex;
    background: #fff;
    box-shadow: inset 0px 1px 1px 1px rgb(241, 240, 240);
    .share {
      width: 150px;
      text-align: center;
      flex-shrink: 0;
      font-size: 20px;
      color: #333;
      position: relative;
      border-right: 1px solid rgb(240, 240, 240);
      .at-icon-external-link {
        color: #999;
        margin-bottom: 2px;
        font-size: 30px;
      }
      .share-btn {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        height: 160px;
        opacity: 0;
      }
    }
    .collect {
      width: 150px;
      text-align: center;
      font-size: 20px;
      color: #333;
      .at-icon-star-2 {
        color: rgb(214, 213, 213);
        margin-bottom: 2px;
        font-size: 32px;
      }
      .iscollect {
        color: rgb(253, 207, 2);
      }
    }
    .buy{
      width: 450px;
      text-align: center;
      height: 100%;
      font-size: 32px;
      line-height: 80px;
      color: #fff;
      background: linear-gradient(to right, rgb(250, 213, 3), #e2740c);
      border-radius: 0;
      &::after {
        content: "";
        border: none;
        border-radius: 0;
      }
    }
  }
}